/* Estilos gerais */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Cor de fundo mais neutra */
  color: #333; /* Cor de texto padrão */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Fundo branco para destaque do conteúdo */
  border-radius: 8px; /* Bordas arredondadas para um visual mais moderno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para destaque */
}

/* Cabeçalho */
header {
  background: linear-gradient(to bottom, #004d99, #0066cc); /* Gradiente de azul mais profissional */
  color: #fff;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 28px; /* Aumenta o tamanho do título para maior impacto */
}

/* Navegação */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; /* Deixa o texto dos links em negrito */
}

nav ul li a:hover {
  text-decoration: underline; /* Adiciona um sublinhado ao passar o mouse */
}

/* Rodapé */
footer {
  background-color: #333; /* Fundo escuro para contraste */
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Estilos de formulário */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold; /* Destaque as etiquetas com negrito */
}

input {
  width: calc(100% - 22px);
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Inclui o padding no cálculo da largura total */
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #28a745; /* Verde mais profissional */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838; /* Tom mais escuro de verde ao passar o mouse */
}

/* Resultados e elementos ocultos */
#results {
  margin-top: 20px;
}

.hidden {
  display: none;
}

/* Estilo da logo */
.logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
}

.logo span {
  color: #333; /* Cor do texto mais escura para contraste */
}
